<form method="post" action="/new_todo">
  <fieldset>
    <legend>New Todo Item</legend>
    <label>Name of Todo</label>
    <input type="text" name="todo_name" placeholder="Type something…">
    <label>Description of Todo</label>
    <input type="text" name="todo_description" placeholder="Type something…">
    <label>Owner of Todo</label>
    <input type="text" name="todo_owner" placeholder="Type something…">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>